<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.my.mapper.BoardMapper">
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'N'.toString()">
							nickName like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="getList" resultType="org.my.domain.BoardVO"> 
		  <![CDATA[
		  select 
		    	category,replyCnt, num, title, content, nickName, regdate, hitCnt
		  from 
		      (
		     select /*+INDEX_DESC(DK_BOARD PK_DK_BOARD) */ rownum rn, category,replyCnt, num, title, content, 
			
			 nickName, regdate, hitCnt from DK_BOARD where category = #{category} and
		  ]]>
				<include refid ="criteria"></include>  
			<!-- ( title like '%'||'keyword'||'%' OR content like '%'||'keyword'||'%' OR writer like '%'||'keyword'||'%' ) AND -->
		  <![CDATA[    
		      rownum <= #{pageNum} * #{amount}
		      )
		  where rn > (#{pageNum} -1) * #{amount}   
		  ]]>
	</select>
	
	<!-- 입력+pk값을 알기 위한것 -->
	<insert id="insertSelectKey">

		<selectKey keyProperty="num" order="BEFORE" resultType="long">
			select seq_dk_board.nextval from dual
		</selectKey>

		insert into DK_BOARD (num,category,title,content,nickName,userId)
		values (#{num},#{category},#{title}, #{content}, #{nickName},#{userId})
		
	</insert>
	
	<select id="read" resultType="org.my.domain.BoardVO">
		select * from DK_BOARD where num = #{num}
	</select>
	
	<update id="updateHitCnt">
		update dk_board set hitCnt = hitCnt+1 where num = #{num}
	</update>
	
	<update id="update">
		update DK_BOARD
			set title= #{title},
			content=#{content},
			updateDate = sysdate
		where num = #{num}
	</update>
	
	<delete id="delete">
		delete DK_BOARD where num = #{num} 
	</delete>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from DK_BOARD where category = #{category} and <include refid="criteria"></include>  num > 0
	</select>
	
  	<!-- 해당 글의 댓글 갯수 하나 늘리거나 빼기 --> 
  	<update id="updateReplyCnt">
  		update dk_board set replycnt = replycnt + #{amount} where num = #{num}
  	</update> 
	
	<!-- 좋아요 증가 -->
	<update id="upLike">
		update DK_BOARD set UP = UP + 1 where num = #{num}
	</update>

	<!-- 좋아요체크 yes로 변경 -->
	<update id="upCheckLike">
		update dk_board_like set checkLike = 'yes' where userId = #{userId} and num = #{num}
	</update>
	
	<!-- 좋아요 감소 -->
	<update id="downLike">
		update DK_BOARD set UP = UP - 1 where num = #{num}
	</update>
	
	<!-- 좋아요체크 no로 변경 -->
	<update id="downCheckLike">
		update dk_board_like set checkLike = 'no' where userId = #{userId} and num = #{num}
	</update>
	
	<!-- 좋아요 체크 -->	
	<select id="checkLike" resultType="String">
		select checkLike from dk_board_like where userId = #{userId} and num = #{num}
	</select>
	
	<!-- 좋아요 컬럼 등록 -->
	<insert id="registerLike">
		insert into dk_board_like (userId, num, checkLike)
		values (#{userId},#{num},'yes')
	</insert>
	
	<!-- 좋아요 카운트 가져오기 -->
	<select id="getLikeCount" resultType="String">
		select up from DK_BOARD where num = #{num}
	</select>
	
  	
</mapper>
