@charset "utf-8";
/* CSS Document */
		@media screen and (max-width:500px){ 
    		.repasswordWrap {
				    width: 80%; 
				    display: inline-block;
				    margin-left: 15%;
				    margin-top: 1%;
				    min-height: 658px;
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;

				}     
        }
        @media screen and (min-width: 501px) and (max-width:1600px){
	        .repasswordWrap {
				    width: 80%; 
				    display: inline-block;
				    margin-left: 17%;
				    margin-top: 1%;
				    min-height: 658px;
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}
        }
        @media screen and (min-width: 1601px){    
	          .repasswordWrap {
				    width: 51%; 
				    display: inline-block;
				    margin-left: 29%;
				    margin-top: 1%;
			        min-height: 658px;
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
			 }	
        }

		#menuWrap{
			    margin: 15px; 
			    padding: 5px;
			    width: 97.8%; 
		}
			
		#menuWrap .tab button {
		    background-color: white;
		    cursor: pointer; 
		    padding: 10px;
		    font-size: 17px;
		    color: #7151fc; 
		    width: 16%;
		    border-radius: 10px;
		    border: 1px solid #7151fc;   
		}
		#menuWrap .tab button:hover {
			background-color: #7151fc;
			color: white;  
		}
		
		#inforTable{
	        /* border: 1px solid #dbdbdb; */
	        margin: 15px;  
		}
		
		.tabcontent {  
			 border: 2px solid #dbdbdb;
		     margin: 15px;
		     border-radius: 10px; 
	         min-height: 548px;
		} 
		
		.tableText{
		width: 5%; 
		font-size: 18px;  
		color: #333333;
	    }
		    
		.tableValue{    
			width: 24%; 
			height: 50px;
			font-size: 18px; 
		    color: #333333;
		 }
		 
		 .inputInfo{
			 	margin-top: 3px;
			    font-size: 18px;
			    color: #333333; 
			    padding: 8px;
			    width: 35%;
			    border-radius: 8px;
			    border: 1px solid #b5b5b5;
			    height: 28px;
		 }
			 
		 .submitInfo{  
		    font-size: 18px;
		    background-color: #7151fc;
		    border: 1px solid #7151fc;
		    color: white;
		    cursor: pointer;
		    padding: 8px;
		    border-radius: 8px;
		    width: 12%;
		    margin: 20px;
		    margin-top: -10px; 
		}
		.active{
			background-color: #7151fc !important;
			color: white !important;   
		}
