@charset "utf-8";
/* CSS Document */

      @media screen and (max-width:500px){ 
              .leftWrap {
	   				width: 15%;
				    margin-top: -0.5%;
				    margin-left: 0%;
				    display: inline-block;
				    float: left;
				    position: fixed;
				}
				
				.mypage {
				    padding: 10px;
				    box-sizing: border-box;
				   	width: 100%;
				    cursor: pointer;
				    background-color: #7151fc;
			        transition: 0.3s;
				    color: white;
				    font-weight: 600;
				    font-size: 18px;
				    display:block;
				    height: 43px;
				  }
				  
				    .leftTitle{
						text-align:center;	
						padding-bottom: 5px;
						color: #7151fc !important;
						font-size: 45px !important;
						font-weight: 900 !important;
						background-color: white;
					   	width: 100%;
					    cursor: pointer;
					    display:block;
				  }
      }
      
      @media screen and (min-width: 501px) and (max-width:1600px){
	           .leftWrap {
	   				width: 14%;
				    margin-top: -0.5%;
				    margin-left: 1%;
				    display: inline-block;
				    float: left;
				    position: fixed;
				}
				
				.mypage {
				    padding: 10px;
				    box-sizing: border-box;
				   	width: 100%;
				    cursor: pointer;
				    background-color: #7151fc;
			        transition: 0.3s;
				    color: white;
				    font-weight: 600;
				    font-size: 18px;
				    display:block;
				    height: 43px;
				  }
				  
				  .leftTitle{
						text-align:center;	
						padding-bottom: 5px;
						color: #7151fc !important;
						font-size: 45px !important;
						font-weight: 900 !important;
						background-color: white;
					   	width: 100%;
					    cursor: pointer;
					    display:block;
				  }
      }
      
      @media screen and (min-width: 1601px){    
	         	 .leftWrap {
				    width: 10%;
				    margin-top: 1%;
				    margin-left: 18%;
				    display: inline-block;
				    position: fixed;
				 	/* border-color: #dbdbdb;
				    border-style: solid;
				    border-width: 1px; */
				 	
				    /* float: left; */
				    /* color: #333333; */
	         	 }
	         	 
	         	 .mypage {
				    padding: 10px;
				    box-sizing: border-box;
				   	width: 100%;
				    cursor: pointer;
				    background-color: #7151fc;
			        transition: 0.3s;
				    color: white;
				    font-weight: 600;
				    font-size: 18px;
				    display:block;
				    height: 48px;
				  }
				  
				   .leftTitle{
						text-align:center;	
						padding-bottom: 15px;
						color: #7151fc !important;
						font-size: 45px !important;
						font-weight: 900 !important;
						background-color: white;
					   	width: 100%;
					    cursor: pointer;
					    display:block;
				  }
      }
      
	  
	  .name{
			text-decoration:none !important;
	  }

	  .visitCount{
	    padding: 10px;
	    box-sizing: border-box;
	   	width: 100%; 
	    background-color: #7151fc;
        transition: 0.3s;
	    color: white;
	    font-weight: 600;
	    font-size: 18px; 
        border-bottom-right-radius: 10px;
    	border-bottom-left-radius: 10px;
	  }
	  .topMypage{
	  	border-top-right-radius: 10px;
    	border-top-left-radius: 10px;
	  }
	   
	  .alarmCount, .noteCount, .chatCount{
	 	    background-color: #e80935;
		    color: white;
		    border-radius: 30px;
		    width: 20px;
		    height: 20px;
		    line-height: 21px;
		    display: inline-block;
		    text-align: center;
		    FONT-SIZE: 14px;
		}

	  .leftWrap a { 
		color: white;
	    text-decoration:none;
	  }
	  
      .mypage:hover > a{
   		color: #7151fc;
      }
      
	  .mypage:hover {
	    background-color: white;
	    color: #7151fc;	
	    border-color: #dbdbdb;
	    border-style: solid;
	    border-width: 1px;
	  }
	  
	  .logoutBtn{
	  	    display: inline-block;
		    width: 95%;
		    border: 1px solid #7151fc;
		    background-color: white;
		    font-size: 14px;
		    color: #7151fc;
		    margin-top: -1px;
		    margin-left: 3%;
		    margin-bottom: 0px;
		    padding: 4px;
		    cursor: pointer;
		    border-radius: 5px;
	  }
	  .logoutBtn:hover{
	  		background-color: #7151fc;
	  		color: white; 
	  }
		
	  .leftUsermenu{
  		display: inline-block; 
	  	width: 90%;
	  }
		#leftUsermenuBar{
			    display: none; 
		        border-style: solid;
			    border-width: 1px;
			    border-color: #7151fc; 
			    width: 88px;
			    height: 53px;
			    position: fixed;
			    background-color: white;
			    margin-left: 30px;
			    border-radius: 5px;
		}
		#leftUsermenuBar ul {
		    margin: auto;
		}
		 
		#leftUsermenuBar ul li{
		    list-style: none;
		    width: 86px;
		    margin-left: -83%; 
		    margin-bottom: 3px;
		    height: 25px; 
		}
		#leftUsermenuBar ul li a{
	        text-decoration: none;
		    color: #7151fc;
		    margin-left: 3px;
		    font-size: 16px;
		}
		
		#leftUsermenuBar ul li:hover{ 
			background-color: #7151fc;
			border-radius: 2px;     
			border:1px solid #7151fc;  
		}
		#leftUsermenuBar ul li a:hover{
			text-decoration: none;
			background-color: #7151fc;
		    color: white;
		}
		
		.memberImage{
			border-radius: 50px;
			width: 25px; 
			height: 25px;  
		}
		
		#alertFakeDiv{
			display: none;
		    position: fixed;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    background-color: #000 !important; 	 
		    opacity: 0.6;
		}
		
		#alertDiv{
			display: none;   
			width: 320px;
		    border-radius: 8px; 
		    position: fixed;
		    top: 35%;
		    left: 40%;
		    padding: 50px;
		    background-color: white;
		}

		#alertContent{ 
		    width: 110%;
		    margin-bottom: 5%;
		    margin-left: -3%;
		    text-align: center;
		    font-size: 17px;
		    color: #555;
		    font-weight: 600;
		}
		
		#alertConfirm{  
			font-size: 20px;
		    border: none;
		    padding: 8px;
		    width: 80%;
		    margin: 0 auto;
		    margin-top: 10px;
		    display: block;
		    border-radius: 8px;
		    color: white;
		    background-color: #7151fc;
		    cursor:pointer; 
		}
		
		#deleteFakeDiv{
			display: none;
		    position: fixed;
		    width: 100%; 
		    height: 100%;
		    top: 0;
		    left: 0;
		    background-color: #000 !important; 	 
		    opacity: 0.6;
		}
		
		#deleteDiv{
			display: none;   
			width: 320px;
		    border-radius: 8px; 
		    position: fixed;
		    top: 35%;
		    left: 40%;
		    padding: 50px;
		    background-color: white;
		}

		#deleteContent{ 
		    width: 110%;
		    margin-bottom: 5%;
		    margin-left: -3%;
		    text-align: center;
		    font-size: 17px;
		    color: #555;
		    font-weight: 600;
		}
		
		#deleteConfirm{  
			font-size: 17px;
		    border: none;
		    padding: 8px;
		    width: 70%;
		    margin: 0 auto;
		    margin-top: 10px;
		    display: block;
		    border-radius: 8px;
		    color: white;
		    background-color: #7151fc;
		    cursor:pointer; 
		}
		
		#cancelConfirm{  
			font-size: 17px;
		    border: none;
		    padding: 8px;
		    width: 70%;
		    margin: 0 auto;
		    margin-top: 10px;
		    display: block;
		    border-radius: 8px;
		    color: white;
		    background-color: #7151fc;
		    cursor:pointer; 
		}
	    