yyyy-MM-dd HH:mm@charset "utf-8";
/* CSS Document */
        @media screen and (max-width:500px){ 
           .userReplyWrap {
			    width: 80%; 
			    display: inline-block;
			    margin-left: 15%;
			    margin-top: 1%;
			    min-height: 500px; 
				display: inline-block;
				border: 2px solid #dbdbdb;
				border-radius: 10px;
			}
        }
        @media screen and (min-width: 501px) and (max-width:1600px){
          	.userReplyWrap {
			 		width: 80%; 
				    display: inline-block;
				    margin-left: 17%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
			}
        }
        @media screen and (min-width: 1601px){    
            .userReplyWrap {
			    width: 51%; 
				    display: inline-block;
				    margin-left: 29%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
			}
        }
		  
		#menuWrap{ 
			    margin: 15px; 
			    padding: 5px;
			    width: 97.8%; 
		}
		
		#menuWrap .tab button {
		    background-color: white;
		    cursor: pointer; 
		    padding: 10px;
		    font-size: 17px;
		    color: #7151fc; 
		    width: 16%;
		    border-radius: 10px;
		    border: 1px solid #7151fc;   
		}
		#menuWrap .tab button:hover {
			background-color: #7151fc;
			color: white;  
		} 
        
        #secondMenuWrap{
			    margin: 15px; 
			    padding: 5px;
			    width: 101.8%; 
		}
		
		#secondMenuWrap .tab button {
			background-color: white;
		    cursor: pointer;
		    padding: 10px;
		    font-size: 15px;
		    color: #7151fc;
		    width: 15%;
		    border-radius: 10px;
		    border: 1px solid #7151fc;
		}
		#secondMenuWrap .tab button:hover {
			background-color: #7151fc;
			color: white;  
		} 
		
        .listWrapper {  
			 border: 2px solid #dbdbdb;
		     margin: 15px;
		     border-radius: 10px; 
		     color: #e6e6e6;
        } 
        
        #inforTable{
	        /* border: 1px solid #dbdbdb; */
	        margin: 15px;  
	        width: 97%;
	        margin-top: -2px;
		} 
		
		td{
			height: 37px;
		}
		.replyTitle{ 
			width: 50%;
			word-break:break-all; 
		}
		.replyTitle a{
			color:#333333; 
			text-decoration: none;
		}
				
		.td {
		    color: #7151fc;
		    font-weight: 600;
		    font-size: 15px;
		    
		}
		
		.tdData{
			display: inline-block;
			color: #333333;
		}
		.replyCnt{
			color: #7151fc;
		}
		
		a:hover {   
		    color: #7151fc;
		}
		
		#dateTd{
			color: #333333;
			width: 16%;
		}
		 
		
		.pull-right {
		    width: 97.7%; 
		    height: 45px;
		    margin-left: 1%;
		    margin-bottom: 10px;
		}
		
		.pagination { 
		     /* display: inline-block; */
		    padding-left: 0px;
		    margin: 7px;
		    border-radius: 4px;
		    display: 1px solid gray;
		    width: 70%;
		    margin-left: 23px;
		    height: 30px;
		}
		.pagination li {
	   		display: inline;
	   		
		}
		.pagination li a { 
		    color: #7151fc;
		    position: relative;
		    float: left;
		    padding: 7px 12px;
		    margin-left: 0px;
		    line-height: 1;
		    /* color: #337ab7; */
		    text-decoration: none;
		    border-right: 1px solid #ddd;   
		    border-bottom: 1px solid #ddd;    
		    border-top: 1px solid #ddd;   
		}
		
		.page_active a { 
			color: white !important;
			background-color: #7151fc;
		} 
		
		.pagination>li:first-child>a{
		    margin-left: 0;
		    border-top-left-radius: 4px;
		    border-bottom-left-radius: 4px;
		    border-left: 1px solid #ddd; 
		} 
		
		.pagination>li:last-child>a{
		    border-top-right-radius: 4px;
		    border-bottom-right-radius: 4px;
		} 
		.active{
			background-color: #7151fc !important;
			color: white !important;   
		}