@charset "utf-8";
/* CSS Document */
		@media screen and (max-width:500px){ 
		     .alarmWrap {
				    width: 80%; 
				    display: inline-block;
				    margin-left: 15%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}
        }
        @media screen and (min-width: 501px) and (max-width:1600px){
          .alarmWrap {
			    	width: 80%; 
				    display: inline-block;
				    margin-left: 17%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
			}
        }
        @media screen and (min-width: 1601px){    
		      .alarmWrap {
			   		width: 51%; 
				    display: inline-block;
				    margin-left: 29%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
			}
        }
        
         #menuWrap{ 
		    margin: 15px; 
		    padding: 5px;
		    width: 97.8%; 
		}
		
		#menuWrap .tab button {
		    background-color: white;
		    cursor: pointer; 
		    padding: 10px;
		    font-size: 17px;
		    color: #7151fc; 
		    width: 20%;
		    border-radius: 10px;
		    border: 1px solid #7151fc;   
		}
		.active{
			background-color: #7151fc !important;
			color: white !important;   
		}
		
		#menuWrap .tab button:hover {
			background-color: #7151fc;
			color: white;  
		}
         
		.listWrapper {  
			 border: 2px solid #dbdbdb;
		     margin: 15px;
		     border-radius: 10px; 
		     color: #e6e6e6;
		     padding
        }  		
	
        #inforTable{
    		margin: 15px;
    		width: 97%;
        }
        
        td{
			height: 37px;
		}
		.title{
			width: 60%;
		}
		.title a{
			color:#333333; 
			text-decoration: none;
		}
				
		.td {
		    color: #7151fc;
		    font-weight: 600;
		    font-size: 15px;
		    
		}
		.bottomTd{
		    color: #7151fc;
		    font-weight: 600;
		    font-size: 14px;
		    width: 11%;
		}
		
		a:hover {   
		    color: #7151fc;
		}
		
		#dateTd{
			color: #333333;
			width: 16%;
		}
		.btn {
		    font-size: 15px;
		    background-color: #7151fc;
		    border: 1px solid #7151fc;
		    color: white;
		    cursor: pointer;
		    padding: 4px;
		    border-radius: 4px;
		    width: 75px;
		}
		
		.readCheck{
			background-color: #e80935;
		    color: white; 
		    border-radius: 30px;
		    width: 20px;
		    height: 20px;
		    line-height: 21px;
		    display: inline-block;
		    text-align: center;
		    font-size: 14px;
		    margin-left: 10px;
		}
	
		.memberImage{
			border-radius: 50px;
			width: 25px;
			height: 25px; 
		}
		
		.userMenu{
			color:#333333; 
			text-decoration: none;
		}	
		
		.userMenubar{
		    display: none; 
	        border-style: solid;
		    border-width: 1px;
		    border-color: #dbdbdb;
		    width: 88px;
		    height: 53px;
		    position: fixed;
		    background-color: #7151fc;
		    margin-left: 30px;
		}
		.userMenubar ul {
		    margin: auto;
		}
		.userMenubar ul li{
		    list-style: none;
		    width: 86px;
		    margin-left: -83%;
		    margin-bottom: 3px;
		    height: 25px; 
		}
		.userMenubar ul li a{
	        text-decoration: none;
		    color: white;
		    margin-left: 3px;
		    font-size: 16px;
		}
		
		.userMenubar ul li:hover{ 
			background-color: white;
			border-style: solid;
		    border-width: 1px;
		    border-color: #7151fc;
		    color: #7151fc;
		}
		.userMenubar ul li a:hover{
			text-decoration: none;
		    color: #7151fc;
		}
		
		
		.pull-right {
		    width: 97.7%; 
		    height: 45px;
		    margin-left: 1%;
		    margin-bottom: 10px;
		}
		
		.pagination { 
		     /* display: inline-block; */
		    padding-left: 0px;
		    margin: 7px;
		    border-radius: 4px;
		    display: 1px solid gray;
		    width: 70%;
		    margin-left: 23px;
		    height: 30px;
		}
		.pagination li {
	   		display: inline;
	   		
		}
		.pagination li a { 
		    color: #7151fc;
		    position: relative;
		    float: left;
		    padding: 7px 12px;
		    margin-left: 0px;
		    line-height: 1;
		    /* color: #337ab7; */
		    text-decoration: none;
		    border-right: 1px solid #ddd;   
		    border-bottom: 1px solid #ddd;    
		    border-top: 1px solid #ddd;   
		}
		
		.page_active a { 
			color: white !important;
			background-color: #7151fc;
		} 
		
		
		.pagination>li:first-child>a{
		    margin-left: 0;
		    border-top-left-radius: 4px;
		    border-bottom-left-radius: 4px;
		    border-left: 1px solid #ddd; 
		} 
		
		.pagination>li:last-child>a{
		    border-top-right-radius: 4px;
		    border-bottom-right-radius: 4px;
		} 
