@charset "utf-8";
/* CSS Document */

	    @media screen and (max-width:500px){ 
       		.bodyWrap { 
			    width: 85%;
			    display: inline-block;
			    margin-left: 15%;
			    margin-top: 1%;
			    min-height: 500px;
			    border-color: #dbdbdb;
			    border-width: 2px;
			    border-style: solid;
			    color: #333333;
			    border-radius:5px;
			    font-size: 17px;
			}
        }
        
        @media screen and (min-width: 501px) and (max-width:1600px){
          	.bodyWrap {
			    width: 81%;
			    display: inline-block;
			    margin-left: 17%;
			    margin-top: 1%;
			    min-height: 500px;
			    border-color: #dbdbdb;
			    border-style: solid;
			    border-width: 2px;
			    color: #333333;
			    border-radius:5px;
			    font-size: 17px;
			}
        }
        
        @media screen and (min-width: 1601px){    
            .bodyWrap {
			    width: 51%;
			    display: inline-block; 
			    margin-left: 29%;
			    margin-top: 1%;
			    min-height: 500px;
			    border-color: #dbdbdb;
			    border-style: solid;
			    border-width: 2px;
			    color: #333333;
			    border-radius:5px;
			    font-size: 17px;
			}
        }
        
        .chatList{
        	width: 55%;
        	min-height: 400px;
		    margin-left: 1%;
			margin-top: 1%;
			border-color: #dbdbdb; 
		    border-style: solid;
		    border-width: 1px;
		    border-radius:5px;
        }
        
        .listContent{
        	width: 100%;
        	min-height: 60px;
		    margin-bottom: 1%;
			cursor: pointer;
			/* border-color: black; 
		    border-style: solid;
		    border-width: 1px; */
        }
        
        .listContent:hover{
	  		background-color: #EAEAEA;
	  		border-radius:5px;
	  	}
        
        .listMemberImage{
			border-radius: 50px;
			width: 40px;
			height: 40px;
		}
		
		.firstWrap{
			display: inline-block;
			width: 10%;
			float: left;
			margin-top: 2%;
			margin-left: 1%;
			/* border-color: red;
		    border-style: solid;
		    border-width: 1px; */
		}
		
		.secondWrap{
			display: inline-block; 
			width: 65%;
			margin-top: 2%;
			/* border-color: red;
		    border-style: solid;
		    border-width: 1px; */
		}
		
		.thirdWrap{
			display: inline-block; 
			width: 23%;
			float: right;
			min-height: 45px; 
			margin-top: 2%;
			/* border-color: red;
		    border-style: solid;
		    border-width: 1px; */
		}       
		
		.chatNick{
			font-weight: 600;
		}
        
        .chatContent{
        	font-size: 15px;
        }
        
        .chatDate{
			font-size: 13px;
   			margin-bottom: 5%;
		}
        
        .chatCnt{
		    background-color: #e80935;
		    color: white;
		    border-radius: 30px;
		    width: 47px;
		    height: 21px;
		    line-height: 21px;
		    display: inline-block;
		    text-align: center;
		    font-size: 14px;
		}
 
 		.chatTitleWrap{
			border-style: solid;
		    border-width: 1px;
		    border-color: #dbdbdb;
		    width: 98%;
		    margin-left: 1%;
		    margin-right: 1%;
		    margin-top: 1%;
		    height: 60px;
		    border-radius:5px;
		}
		
		.chatTitle{ 
	        border-bottom: 3px solid #7151fc;
		    display: inline-block;
		    width: 80%;
		    padding: 5px;
		    margin-left: 1%;
		    margin-top: 7px;
		    font-size: 22px;
		    font-weight: 600;
		    color: #7151fc;
		}
	
		.chatBtn { 
		    display: inline-block;
		    width: 10%;
		    margin-left: 4%;
		    height: 30px;
		}

		#newChatBtn {
			border: none;
		    padding: 6px;
		    font-size: 15px;
		    color: white;
		    width: 99%;
		    cursor: pointer; 
		    border-radius: 10px;
		    background-color: #7151fc;
		}
		
		#backGround{
		    position: fixed; 
		    width: 100%; 
		    height: 100%; 
		    top: 0; 
		    left: 0; 
		    background-color: #000;
		    opacity: 0.6;
		    display: none;
    	}
    	
   		#userListWrap{
   			display: none;
		    width: 250px;
		    border-radius: 8px;
		    position: fixed;
		    top: 20%;
		    left: 40%;
		    padding: 50px;
		    background-color: white;
		    min-height: 400px;
		}
		
		#userList{
			border-style: solid;
		    border-width: 1px;
		    border-color: #dbdbdb;
		    width: 98%;
	    	min-height: 300px; 
		}
		
		#buttonWrap{
			border-style: solid;
		    border-width: 1px;
		    border-color: #dbdbdb;
		    width: 98%;
		    height : 50px;
		}
		
		#chatInviteWrap{
			border-style: solid;
		    border-width: 1px;
		    border-color: #dbdbdb;
		    width: 48%;
		    display: inline-block;
		    height : 50px;
		}
		
		#chatCancelWrap{
			border-style: solid;
		    border-width: 1px;
		    border-color: #dbdbdb;
		    width: 48%;
		    display: inline-block;
		    height : 50px;
		} 
		
		#title{
			border-style: solid;
		    border-width: 1px;
		    border-color: #dbdbdb;
		    width: 99%;
		    height : 30px;
		    margin-bottom: 2%;
		}
		
		#searchWrap{
			border-style: solid;
		    border-width: 1px;
		    border-color: #dbdbdb;
		    width: 99%;
		    height : 30px;
		    margin-bottom: 2%;
		}
		
		#search{
			box-sizing: border-box;
			width: 99%;
			height: 30px; 
			font-weight: 500;
			font-size: 20px;
			color: #333333;  
			border: 2px solid #7151fc; 
			border-radius: 5px;
			margin-top: 2px;
		}
		
		.userWrap{
			border-style: solid;
		    border-width: 1px;
		    border-color: #dbdbdb;
		    width: 99%; 
		}
		
		.chosenUser{
			color: #7151fc;
		}
			