@charset "utf-8";
/* CSS Document */

	    @media screen and (max-width:500px){ 
       		.bodyWrap { 
			    width: 85%;
			    display: inline-block;
			    margin-left: 15%;
			    margin-top: 1%;
			    min-height: 500px;
			    border-color: #dbdbdb;
			    border-width: 2px;
			    border-style: solid;
			    color: #333333;
			    border-radius:5px;
			    font-size: 17px;
			}
        }
        
        @media screen and (min-width: 501px) and (max-width:1600px){
          	.bodyWrap {
			    width: 81%;
			    display: inline-block;
			    margin-left: 17%;
			    margin-top: 1%;
			    min-height: 500px;
			    border-color: #dbdbdb;
			    border-style: solid;
			    border-width: 2px;
			    color: #333333;
			    border-radius:5px;
			    font-size: 17px;
			}
        }
        
        @media screen and (min-width: 1601px){    
            .bodyWrap {
			    width: 51%;
			    display: inline-block; 
			    margin-left: 29%;
			    margin-top: 1%;
			    min-height: 500px;
			    border-color: #dbdbdb;
			    border-style: solid;
			    border-width: 2px;
			    color: #333333;
			    border-radius:5px;
			    font-size: 17px;
			}
        }
        
        .chatList{
        	width: 55%;
        	min-height: 400px;
		    margin-left: 1%;
			margin-top: 1%;
			border-color: #dbdbdb; 
		    border-style: solid;
		    border-width: 1px;
		    border-radius:5px;
        }
        
        .listContent{
        	width: 98%;
        	min-height: 50px;
		    margin-botoom: 1%;
		    margin-left: 1%;
			margin-top: 1%;
			/* border-color: black; 
		    border-style: solid;
		    border-width: 1px; */
        }
        
        .listMemberImage{
			border-radius: 50px;
			width: 40px;
			height: 40px;
		}
		
		.firstWrap{
			display: inline-block;
			width: 10%;
			float: left;
			/* border-color: red;
		    border-style: solid;
		    border-width: 1px; */
		}
		
		.secondWrap{
			display: inline-block;
			width: 65%;
			/* border-color: red;
		    border-style: solid;
		    border-width: 1px; */
		}
		
		.thirdWrap{
			display: inline-block; 
			width: 23%;
			float: right;
			min-height: 45px; 
			/* border-color: red;
		    border-style: solid;
		    border-width: 1px; */
		}       
		
		.chatNick{
			font-weight: 600;
		}
        
        .chatContent{
        	font-size: 15px;
        }
        
        .chatDate{
			font-size: 13px;
   			margin-bottom: 5%;
		}
        
        .chatCnt{
		    background-color: #e80935;
		    color: white;
		    border-radius: 30px;
		    width: 47px;
		    height: 21px;
		    line-height: 21px;
		    display: inline-block;
		    text-align: center;
		    font-size: 14px;
		}
 
 		.chatTitleWrap{
			border-style: solid;
		    border-width: 1px;
		    border-color: #dbdbdb;
		    width: 98%;
		    margin-left: 1%;
		    margin-right: 1%;
		    margin-top: 1%;
		    height: 60px;
		    border-radius:5px;
		}
		
		.chatTitle{ 
	        border-bottom: 3px solid #7151fc;
		    display: inline-block;
		    width: 80%;
		    padding: 5px;
		    margin-left: 1%;
		    margin-top: 7px;
		    font-size: 22px;
		    font-weight: 600;
		    color: #7151fc;
		}
	
		.chatBtn { 
		    display: inline-block;
		    width: 10%;
		    margin-left: 4%;
		    height: 30px;
		}

		#chatBtn {
			border: none;
		    padding: 6px;
		    font-size: 15px;
		    color: white;
		    width: 99%;
		    cursor: pointer; 
		    border-radius: 10px;
		    background-color: #7151fc;
		}