@charset "utf-8";
/* CSS Document */
		@media screen and (max-width:500px){ 
		     .loginWrap {
				    width: 80%; 
				    display: inline-block;
				    margin-left: 15%;
				    margin-top: 1%;
				    height: 620px;
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}
				
				.socialContainer {
			       	width: 50%;
				    display: inline-block;
				    margin-left: 20%;
				  	margin-top: 0%;
				    min-height: 270px;
				}
				
				.superContainer {
			       	width: 50%;
				    display: inline-block;
				    margin-left: 20%;
				    margin-top: 0%;
				    min-height: 270px;
				}
        }
        
        @media screen and (min-width: 501px) and (max-width:1600px){
	          .loginWrap {
				    	width: 80%; 
					    display: inline-block;
					    margin-left: 17%;
					    margin-top: 1%;
					    height: 620px;
						display: inline-block;
						border: 2px solid #dbdbdb;
						border-radius: 10px;
				}
				.socialContainer {
			       	width: 50%;
				    display: inline-block;
				    margin-left: 20%;
				    margin-top: 0%;
				    min-height: 270px;
				}
				
				.superContainer {
			       	width: 50%;
				    display: inline-block;
				    margin-left: 20%;
				    margin-top: 0%;
				    min-height: 270px;
				}
        }
        
        @media screen and (min-width: 1601px){    
		      .loginWrap {
			   		width: 51%; 
				    display: inline-block;
				    margin-left: 29%;
				    margin-top: 1%;
				    height: 620px;
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
			}
			
				.socialContainer {
			       	width: 50%;
				    display: inline-block;
				    margin-left: 20%;
				    margin-top: 0%;
				    min-height: 270px;
				}
				
				.superContainer {
			       	width: 50%;
				    display: inline-block;
				    margin-left: 20%;
				    margin-top: 0%;
				    min-height: 270px;
				}
        }
        
		.socialTitle{
			width: 55%;
		    background-color: white;
		    font-size: 45px;
		    font-weight: 900;
		    margin-left: 30%;
		    margin-top: 8%;
		    margin-bottom: 7%;
		    text-align: center;
		    color: #7151fc;
		}
		
		.superTitle{
		    width: 74%;
		    background-color: white;
		    font-size: 40px;
		    font-weight: 900;
		    margin-left: 22%;
		    margin-top: 8%;
		    margin-bottom: 5%;
		    text-align: center;
		    color: #7151fc;
		}
		
		.admin-group{
		}
		
		.loginGroup{
		  	margin-top:-10px !important;
		  }
		  
		.form-group {
		        margin-top: 1%;
			    margin-left: 29%;
			    width: 60%;
			    height: 50px;
			    font-size: 20px;
	    }
	    
	    .cutom-group {
	   		color: #7151fc;
		    margin-top: 3%;
		    margin-left: 27%;
		    margin-bottom: 3%;
		    width: 38%;
		    height: 50px;
		    font-size: 20px;
		    text-align: center;
		    font-weight: 600;
		}
	     
	    .form-control {
	        width: 100%;
		    border-radius: 9px;
		    font-size: 15px;
		    height: 49px;
		    border: 2px solid #dbdbdb;
		    box-sizing: border-box;
		    text-align: center;
		}
		#loginLabel{
			font-size: 15px;
	        margin-left: 75px;
		} 
		.btn {
		    font-size: 15px;
		    background-color: #7151fc;
		    border: 1px solid #7151fc;
		    color: white;
		    cursor: pointer;
		    padding: 4px;
		    border-radius: 9px;
		    width: 100%;
		    height: 45px;
		    margin: 2px;
		}
		
		.logo{
			width: 292px;
		    height: 54px;
		    cursor: pointer;
		}
		
		#google{
			border-radius: 9px;
		}
		.footer{
		  	width: 100%;
		    padding: 1%;
		    margin: 3%;
		}
		.info{
			font-size: 11px;
		    width: 88.5%; 
		    padding: 1%;
		    margin: 1%;
		    text-align: center;
		    font-weight: 600;
		}
		