@charset "utf-8";
/* CSS Document */ 

		@media screen and (max-width:500px){ 
			     .getWrapper {
				    border-color: #e6e6e6;
				    border-style: solid;
				    border-width: 1px;
				    background-color: #323639; 
				    color: #e6e6e6;
				    margin-left: 15%;
				    margin-top: 1%;
				    width: 80%;
				    display: inline-block; 
				}    
        }
        @media screen and (min-width: 501px) and (max-width:1500px){
	          .getWrapper {
				    border-color: #e6e6e6;
				    border-style: solid;
				    border-width: 1px;
				    background-color: #323639;
				    color: #e6e6e6;
				    margin-left: 15%;
				    margin-top: 1%;
				    width: 80%;
				    display: inline-block; 
				}
        }
        @media screen and (min-width: 1501px){    
          .getWrapper {
			    border-color: #e6e6e6;
			    border-style: solid;
			    border-width: 1px;
			    background-color: #323639;
			    color: #e6e6e6;
			    margin-left: 29%;
			    margin-top: 1%;
			    width: 51%;
			    display: inline-block; 
			}
        }
	a  {   
			color:#e6e6e6; text-decoration: none;
		}
	a:hover {   
	     color: #7151fc;
	    text-decoration: underline;
	}
	body{
		background-color: #323639; 
	}
    #replyModForm{ 
      display:none;
    }  
    .page-item{
      display:inline;
    }  
    
	.bigPictureWrapper {
	  /* border-color: #e6e6e6;
	  border-style: solid; */
	  position: absolute;
	  display: none;
	  justify-content: center;
	  align-items: center;
	  top:0%;
	  width:100%;
	  height:1500px;  
	  z-index: 100;
	  /* background-color: gray;
	  background:rgba(255,255,255,0.5); */
	}
	.bigPicture { 
		/* width: 90%;     
		border-color: #e6e6e6;
	    border-style: solid; */    
	    position: fixed;
	    display: flex;
	    justify-content: center; 
	    align-items: baseline;
	    margin-top: -15%;
	}
	.bigPicture img {
  		max-width: 650px;    
		height: auto;
	}
	
	#donateBackGround{
 	    position: fixed;
	    width: 100%; 
	    height: 100%;
	    top: 0;
	    left: 0;
	    background-color: #000;
	    opacity: 0.6;
	    display: none;
	}

	#donateModal{ 
	    display: none;
	    width: 270px;
	    border-radius: 8px;
	    position: fixed;
	    top: 30%;
	    left: 40%;
	    padding: 50px;
	    background-color: white;
	}
	 
	 .mydonaText {
	        font-size: 20px;
		    color: #555;
		    font-weight: 600;
		}
		
	.donaSelect{ 
	       font-size: 35px;
		    color: #7151fc;
		    width: 53%;
	}  
	
	.donateSubmit{ 
		font-size: 20px;
	    border: none;
	    padding: 8px;
	    width: 80%;
	    margin: 0 auto;
	    margin-top: 10px;
	    display: block;
	    border-radius: 8px;
	    color: white;
	    background-color: #7151fc;
	}
	
	#realGiveCash{
		display: none;
	} 
	
	#reportBackGround{
 	    position: fixed;
	    width: 100%; 
	    height: 100%;
	    top: 0;
	    left: 0;
	    background-color: #000;
	    opacity: 0.6;
	    display: none;
	}
	
	#reportForm{ 
	    display: none;
	    width: 270px;
	    border-radius: 8px;
	    position: fixed;
	    top: 30%;
	    left: 40%;
	    padding: 50px;
	    background-color: white;
	}
	.reportText{ 
	    font-size: 20px;
	    color: #555;
	    font-weight: 600;
	}
	#reportInput{
		 font-size: 15px;
	     width: 100%;
	     color: #555;
	}
	.reportBtn{ 
		font-size: 20px;
	    border: none;
	    padding: 8px;
	    width: 80%;
	    margin: 0 auto;
	    margin-top: 10px;
	    display: block;
	    border-radius: 8px;
	    color: white;
	    background-color: #7151fc;
	}
	   
	.modal{
	display: none;
	}
	.reReplyWriteForm{ 
		display: none; 
	}
	.replyWriteForm{
	
	}
	.reply{ 
		/* border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6; */  
		width: 100%; 
		margin-left:0% ; 
		margin-right:1%; 
		margin-top:1%;
		margin-bottom:1%;
		/* height: 55px;  
		word-break:break-all;  */
	}
	.first {
 		  margin-left: 2%;
	}
	.second {
 		  margin-left: 4%;
	}
	.third {
 		  margin-left: 6%;
	}
	.other {
 		  margin-left: 8%;
	}
	
	#UserMenubar_board{
		    margin-top: -1%;
	}
	
	 .userMenubar{
	    display: none;
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6;  
	    width: 6%; 
	    height: 55px;  
	    background-color: #323639;
	    margin-left: 1.3%; 
	    position: absolute;
	}
	.userMenubar li{ 
	    list-style: none;
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6;
	    width: 155%;  
	    margin-left: -60%; 
	}
	.userMenubar ul { 
	    border-style : solid;
	    border-width: 1px;
	    border-color: #e6e6e6;
	    margin: auto;
	}
	.to{
	    margin-left: 11%;
	}
	.getKind{
		border-style : solid;
		border-width: 1px;
		border-color: #e6e6e6; 
		width: 97%; 
		margin-left:1% ; 
		margin-right:1%;
		margin-top:1%;
		height: 30px; 
		font-size: 20px; 
	} 
	.titleWrapper{
		border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;
		width: 97%;
		margin-left:1% ; 
		margin-right:1%;
		margin-top:1%;
		height: 60px; 
		font-size: 30px; 
	} 
	#titleNum{
		width: 50%;
		border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;
		font-size: 13px;     
	}
	#title{ 
		width: 50%;
		border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;
		font-size: 27px;      
	}
	.nickName{
		border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;
		width: 97%;
		margin-left:1% ; 
		margin-right:1%;
		margin-top:1%;
		height: 60px; 
	}

	.contentInformation {
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6;
        width: 63%; 
    	margin-left: 35%;
	    /* margin-right: 1%; 
	    height: 50px; 
	    */
	    margin-top: 1%;
	    margin-bottom: 1%;
	}
	.replyListWrapper{
		width: 100%;
		/* border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6; */
	}
	.replyList{ 
	    width: 97%; 
	    /* border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6; */
	    /* float: left; */
	    /* margin-inline-start: 4%; */
	    margin-left: -3.5%;
	}
	.replyLi{
		list-style: none; 
		width: 100%;
		border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6;   
	}
	 
	#replyCntVal{
		border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;
		width: 97%;
		margin-left:1% ; 
		margin-right:1%; 
		margin-top:1%;
		height: 20px; 
		display: none; 
	}
	.replyPage{
		border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;
		width: 97%;
		margin-left:1% ; 
		margin-right:1%; 
		margin-top:1%;
		margin-bottom:1%;
		height: 45px;  
		display: none;
	}
	
	.replyInformation { 
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6;
	    /* width: 44%; */
	    margin-left: 6%;
	    /* margin-right: 4%; */
	    margin-top: 1%;
	    /* margin-bottom: 1%; */
	    /* float: right; */
	    /* display: block; */
	}
	
	#reply_contents{
		    width: 99%; 
		    margin-left: 0%;
		    margin-right: 1%;
		    margin-top: 1%;
		    margin-bottom: 1%;
	}
	.replyWriteForm{  
		margin-left:1%; 
		margin-top:1%; 
		margin-bottom:5%;  
	}
	
	.fileUploadWrap{
		display: inline-block;
	    border-style: solid;
	    border-color: #e6e6e6;
	    margin-left: 1%;
	    margin-right: 1%;
	    margin-top: -5.6%;
	    margin-bottom: 1%;
	    float: right;
	    font-size: 13px;
	    width: 30%;
	    height: 54px;
	}
	 
	.fileUploadResult{ 
	    display: none;
	    border-style: solid;
	    border-color: #e6e6e6;
	    margin-left: 0%;
	    margin-right: -32%;
	    margin-top: -3.6%;
	    margin-bottom: 1%;
	    float: right;
	    font-size: 13px;
	    width: 30%;
	    height: 54px;
	}
	.fileUploadResult ul {
	    border-style: solid;
	    border-color: #e6e6e6;
	    width: 84%;
	    height: 50px; 
	    margin-top: -1%;
	}
	.content img{
		max-width: 400px;
		height: auto;
	}
	
	.content{
		border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;
		/* background-color: white; 
		color: black; */  
		width: 97%;
		margin-left:1% ; 
		margin-right:1%;
		margin-top:1%;   
		position:relative; 
		word-break:break-all; 
		min-height: 300px;
	}
	.reply_contentWrapper{
		word-break:break-all; 
	}
	
	.reply_content{ 
		 word-break:break-all; 
		 margin-left:1% ;  
	}
	#reReply_contents{ 
		width: 99%;
	}
	.reReplyBtn{ 
	    width: 47%;
	    height: 53px;
	}
	.reReplyBtnWrapper{ 
		border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;
	    width: 10%;
	    display: inline-block;
	    position: absolute;
	}
	.textareaWrapper{
		border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;
		width: 80%; 
		display: inline-block; 
	}
	.replytextareaWrapper{
		border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;
		width: 90%; 
		display: inline-block; 
	}
	 
	.replyBtnWrapper {
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6;
	    width: 5%;
	    display: inline-block;
	    position: absolute;
	    height: 72px;
	}
	#replyRegisterBtn{
		width: 90%;
	    height: 53px;
	    margin-top: 8%; 
	}
	
	 .modifyTextareaWrapper{ 
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6;
	    width: 80%;
	    display: inline-block;  
    }
    
    .reply_contents{
		    width: 99%;   
	}
	
	.replyModFormBtnWrapper{ 
    	border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;
	    width: 10%;
	    display: inline-block;
	    position: absolute;
    }
     .replyModFormBtn{
    	width: 47%;
	    height: 53px;
	}
	.replyModForm{
		display: none; 
	}
	
