@charset "utf-8";
/* CSS Document */

		@media screen and (max-width:500px){ 
	   			.myinfoWrap {
				    width: 80%; 
				    display: inline-block;
				    margin-left: 15%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}     
        }
        @media screen and (min-width: 501px) and (max-width:1500px){
	        .myinfoWrap {
				    width: 80%; 
				    display: inline-block;
				    margin-left: 15%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
			}
        }
        @media screen and (min-width: 1501px){    
	          .myinfoWrap {
				    width: 51%; 
				    display: inline-block;
				    margin-left: 29%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}
        }
        
		#menuWrap{
		    margin: 15px; 
		    padding: 5px;
		    width: 97.8%; 
		}
		
		#menuWrap .tab button {
		    background-color: white;
		    cursor: pointer; 
		    padding: 10px;
		    font-size: 17px;
		    color: #7151fc; 
		    width: 16%;
		    border-radius: 10px;
		    border: 1px solid #7151fc;   
		}
		#menuWrap .tab button:hover {
			background-color: #7151fc;
			color: white;  
		}
	 
		.tabcontent {  
			 border: 2px solid #dbdbdb;
		     margin: 15px;
		     border-radius: 10px; 
		} 
		
		#inforTable{
	        /* border: 1px solid #dbdbdb; */
	        margin: 10px; 
		}
	
		.tableText{
			width: 5%; 
			font-size: 18px;  
			color: #333333;
	    }
	    
		.tableValue{    
			width: 24%;
			height: 50px;
			font-size: 18px; 
		    color: #333333;
		 }
		 
		 .inputInfo{
		 	margin-top: 3px;
		    font-size: 18px;
		    color: #333333; 
		    padding: 8px;
		    width: 35%;
		    border-radius: 8px;
		    border: 1px solid #b5b5b5;
		    height: 28px;
		 }
		 
		 .submitInfo{  
		    font-size: 18px;
		    background-color: #7151fc;
		    border: 1px solid #7151fc;
		    color: white;
		    cursor: pointer;
		    padding: 8px;
		    border-radius: 8px;
		    width: 12%;
		    margin: 10px;
		}
		
	
    .memberProfile {
	    display: inline-block;
	    float: left; 
	    /* width: 60px;
	    margin: 20px;
	    border: 1px solid black;
	    border-radius: 70px; */
	}
	#profileGray{
		position: fixed; 
		width: 100%; 
		height: 100%; 
		top: 0; 
		left: 0; 
		background-color: #000; 
		opacity: 0.6; 
		display: none;
	}
		
	#modprofile{    
	    display: none;
	    width: 310px;
	    border-radius: 8px;
	    position: absolute;
	    top: 20%;
	    left: 39%;
	    padding: 34px;
	    background-color: white;
	}
    .modprofileText { 
	    display: block;
	    font-size: 23px;
	    text-align: center;
	    margin-bottom: 5%;
	    color: #7151fc; 
	}
	.profileButtons {
	    width: 32%;
	    margin: 0 auto;
	    margin-left: 0%;
	    border: none;
	    color: white;
	    background-color: #7151fc;
	    padding: 7%;
	    font-size: 12px;
	    height: 0px;
	    line-height: 0;
	} 
   .mainImgWrap {
	    width: 33%;  
	    margin: 0 auto; 
	    /* border-style: solid; */
	    /* min-height: 150px;
	    max-height: 300px; */
	}
	#mainImg {
	    width: 90px;
	    height:90px;  
	    border-radius: 50px;  
	    /* border-style: solid; */
	    /* max-height: 360px;
	    margin-top: 47px; */
	}
	#profile { /* 파일 필드 숨기기 */
		display:none;
	}
	#profileSearch { 
	    background-color: white;
	    /* border-style: solid; */ 
	    width: 98%;
	    color: #7151fc;
	    display: block; 
	    font-size: 20px; 
	    text-align: center;
	    margin-top: 5%;
	}
	 
	#myImage{
	    width: 70px;
	    border-radius: 80px;
	    height: 70px;
	}
