@charset "utf-8";
/* CSS Document */

		@media screen and (max-width:500px){ 
			.myscrapWrap { 
				    width: 80%; 
				    display: inline-block;
				    margin-left: 15%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}     
        }
        @media screen and (min-width: 501px) and (max-width:1600px){
	        .myscrapWrap {
				    width: 80%; 
				    display: inline-block;
				    margin-left: 17%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}
        }
        @media screen and (min-width: 1601px){    
          .myscrapWrap { 
		    	    width: 51%; 
				    display: inline-block;
				    margin-left: 29%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
			}
        }
	
		.listWrapper { 
		     border: 2px solid #dbdbdb;
		     margin: 15px;
		     border-radius: 10px; 
		     color: #e6e6e6;
		}
		
		 #menuWrap{ 
		    margin: 15px; 
		    padding: 5px;
		    width: 97.8%; 
		}
		
		#menuWrap .tab button {
		    background-color: white;
		    cursor: pointer; 
		    padding: 10px;
		    font-size: 17px;
		    color: #7151fc; 
		    width: 16%;
		    border-radius: 10px;
		    border: 1px solid #7151fc;   
		}
		#menuWrap .tab button:hover {
			background-color: #7151fc;
			color: white;  
		}
		
	    #inforTable{
	        /* border: 1px solid #dbdbdb; */
	        margin: 15px;  
		}  

		td{
			height: 37px;
		}
		
		.boardTitle{
			width: 30%; 
		}
		.boardTitle a{
			color:#333333; 
			text-decoration: none;
		}
				
		.td {
		    color: #7151fc;
		    font-weight: 600;
		    font-size: 15px;
		    
		}
		
		.bottomTd{
		    color: #7151fc;
		    font-weight: 600;
		    font-size: 14px;
		    width: 11%; 
		}
		
		.tdData{
			display: inline-block;
			color: #333333;
		}
		
		.replyCnt{
			color: #7151fc;
		}
		
		a:hover {   
		    color: #7151fc;
		}
		
		#dateTd{
			color: #333333;
			width: 16%;
		}
		
		.btn {
		    font-size: 15px;
		    background-color: #7151fc;
		    border: 1px solid #7151fc;
		    color: white;
		    cursor: pointer;
		    padding: 4px;
		    border-radius: 4px;
		    width: 75px;
		}
		
		.userMenu{
			color:#333333; 
			text-decoration: none;
		}	
		
		.userMenubar{
			    display: none; 
		        border-style: solid;
			    border-width: 1px;
			    border-color: #7151fc; 
			    width: 88px;
			    height: 53px;
			    position: fixed;
			    background-color: white;
			    margin-left: 30px;
			    border-radius: 5px;
		}
		.userMenubar ul {
		    margin: auto;
		}
		 
		.userMenubar ul li{
		    list-style: none;
		    width: 86px;
		    margin-left: -83%; 
		    margin-bottom: 3px;
		    height: 25px; 
		}
		.userMenubar ul li a{
	        text-decoration: none;
		    color: #7151fc;
		    margin-left: 3px;
		    font-size: 16px;
		}
		 
		.userMenubar ul li:hover{ 
			background-color: #7151fc;
			border-radius: 2px;     
			border:1px solid #7151fc;  
		}
		.userMenubar ul li a:hover{
			text-decoration: none;
			background-color: #7151fc;
		    color: white;
		}
		
		.memberImage{
			border-radius: 50px;
			width: 25px; 
			height: 25px;  
		}
		
		
		.pull-right {
		    width: 97.7%; 
		    height: 45px;
		    margin-left: 1%;
		    margin-bottom: 10px;
		}
		
		.pagination { 
		     /* display: inline-block; */
		    padding-left: 0px;
		    margin: 7px;
		    border-radius: 4px;
		    display: 1px solid gray;
		    width: 70%;
		    margin-left: 23px;
		    height: 30px;
		}
		.pagination li {
	   		display: inline;
	   		
		}
		.pagination li a { 
		    color: #7151fc;
		    position: relative;
		    float: left;
		    padding: 7px 12px;
		    margin-left: 0px;
		    line-height: 1;
		    /* color: #337ab7; */
		    text-decoration: none;
		    border-right: 1px solid #ddd;   
		    border-bottom: 1px solid #ddd;    
		    border-top: 1px solid #ddd;   
		}
		
		.page_active a { 
			color: white !important;
			background-color: #7151fc;
		} 
		
		.pagination>li:first-child>a{
		    margin-left: 0;
		    border-top-left-radius: 4px;
		    border-bottom-left-radius: 4px;
		    border-left: 1px solid #ddd; 
		} 
		
		.pagination>li:last-child>a{
		    border-top-right-radius: 4px;
		    border-bottom-right-radius: 4px;
		} 
		
		.active{
			background-color: #7151fc !important;
			color: white !important;   
		}
		
		
		
			
		
	
	
		
			
	
