@charset "utf-8";
/* CSS Document */
	
		@media screen and (max-width:500px){ 
				.registerWrapper { 
				    width: 80%;  
				    display: inline-block;
				    margin-left: 15%;
				    margin-top: 1%;
				    min-height: 500px; 
				    border: 2px solid #dbdbdb;
				    border-radius: 5px;
				}     
        }
        @media screen and (min-width: 501px) and (max-width:1600px){
	        .registerWrapper {
				    width: 80%; 
				    display: inline-block; 
				    margin-left: 17%; 
				    margin-top: 1%;
				    min-height: 500px; 
				    border: 2px solid #dbdbdb;
				    border-radius: 5px;
				    color: #333333;
				}
        }
        @media screen and (min-width: 1601px){    
          .registerWrapper { 
			    width: 51%; 
			    display: inline-block;
			    margin-left: 29%;
			    margin-top: 1%;
			    min-height: 500px;  
				border: 2px solid #dbdbdb;
				border-radius: 5px; 
				color: #333333;   
			}
        }
        
	    .row{
			width: 97%; 
			margin: 0 auto;
			margin-bottom: 5px;
			margin-top: 3px; 
		} 
		#category{
	        border-bottom: 3px solid #7151fc; 
		    color: #7151fc; 
		    font-size: 25px; 
		    font-weight: 600;
		    padding: 15px;
		    display: block;
		    width: 95.7%;
		    margin-bottom: 10px;
		}
		
		#title{
			width: 99%;
		    height: 35px;
		    margin-bottom: 1px;
		    margin-top: -5px;
		    box-sizing: border-box;
		    font-size: 15px;
		    border: 2px solid #dbdbdb;
		    border-radius: 5px;
		    padding-left: 12px; 
		}
		#title::placeholder {
			color: #abaaaa;  
		}

		#selectId{
		    width: 99%;
		    height: 35px;
		    font-weight: 500;
		    font-size: 15px;
		    border-radius: 5px;
		    margin-bottom: 5px;
		    border: 2px solid #dbdbdb;
		    padding-left: 8px;
		}
		 #areaContent{ 
			display: none;
		} 
		
	    #divContent{   
		    height: 400px;
		    margin-bottom: 10px;
		    background-color: white;
		    border: 2px solid #dbdbdb;
		    overflow-y: auto;
		    width: 93.5%;
		    margin-left: 1.5%;
		    border-radius: 5px;
		    padding: 10px;
		}
		
		#divContent img{ 
			max-width: 400px;
			height: auto;
		} 
		
		[contenteditable=true]:empty:before{
		 	content: attr(placeholder);  
		 	color: #abaaaa;    
		}
		
	    .fileUploadResult { 
			border-radius: 5px;
		    display: none;
		    width: 95.5%;
		    border: 2px solid #dbdbdb;
		    background-color: white;
		    display: none;
		    margin-left: 16px;
		    margin-top: 0px;
		    height: 60px; 
	    }
	    #fileUploadResultUl{
	    	margin-top: 10px;  
	    }
		.photoUploadResult { 
			border-radius: 5px;
			display: none;
			width: 95.5%;
			border: 2px solid #dbdbdb;
		    background-color: white;
		    display: none;
		    margin-left: 16px;
		    height: 127px;
		}
		
		.photoUploadResult ul {
			padding-left: 0px;
			display: flex;
			flex-flow: wrap;
			justify-content: center;
			align-items: center;
		}
		.fileUploadResult ul {
			/* display: flex;
			flex-flow: row; 
			justify-content: center;
			align-items: center; */ 
		}
		
		.photoUploadResult ul li { 
			margin-top: -15px;
			list-style: none;
			padding: 10px;
		}
		.photoUploadResult ul li img{
		    width: 100px;
			height: 100px; 
			border: 2px solid #7151fc
		}
		.fileUploadResult ul li {
			list-style: none;
		    display: inline-block;
			padding: 10px;
		}
		
		.photoUploadResult ul li img {
			width: 100px;
		}
		.fileUploadResult ul li img {
			width: 100px;
		}
		
		.bigPictureWrapper {
		  /* border-color: #e6e6e6;
		  border-style: solid; */
		  position: absolute;
		  display: none;
		  justify-content: center;
		  align-items: center;
		  top:0%;
		  width:100%;  
		  height:1500px;  
		  z-index: 100;
		  /* background-color: gray;
		  background:rgba(255,255,255,0.5); */
		}
		.bigPicture { 
			/* width: 90%;     
			border-color: #e6e6e6;
		    border-style: solid; */     
		    position: fixed;
		    display: flex;
		    justify-content: center;
		    align-items: baseline; 
		    margin-top: -15%;
		}
		.bigPicture img { 
	  		max-width: 650px;  
			height: auto;
		}
		
		.bottomMenuWrap{
		    width: 95.5%;
		    height: 50px; 
		    margin-left: 17px;
   		    margin-bottom: 10px; 
   		    border: 2px solid #dbdbdb;
   		    border-radius: 5px;
		}
		.bottomMenu{
			list-style: none;
		    width: 92%;
		    height: 30px;
		    margin-left: 8px;
		    margin-top: 10px;
		}
		.photo{
		    float: left; 
		    display: inline-block;
		    height: 28px;
		    width: 95px;
		    margin-left: -40px;  
		}
		#inputPhoto{
			display: none;
		}
		.file{
			float: left; 
		    width: 11%;
		    display: inline-block;
		    height: 28px; 
	        margin-left: -20px;
		}
		#inputFile{
			display: none;  
		}
		.submit{ 
			float: right;
		    width: 11%;
		    display: inline-block;
		    height: 28px; 
		    margin-right: -40px;
		}
		.inputButton{
		    border: 1px solid #7151fc;
		    display: inline-block;
		    width: 70px;
		    font-size: 16px;
		    height: 24px;
		    border-radius: 5px;
		    text-align: center;
		    padding-top: 3px;
		    background-color:white;
		    color:#7151fc;
		     
		}
		.inputButton:hover{
			cursor:pointer;
			background-color:#7151fc;
		    color:white; 
		}
		.submitButton:hover{ 	
			cursor:pointer;
			background-color:#7151fc;
		    color:white; 
		}
		.submitButton{
			border: 1px solid #7151fc;
		    display: inline-block;
		    width: 70px;
		    font-size: 16px;
		    height: 30px;
		    border-radius: 5px;
		    text-align: center; 
    	    background-color:white;
		    color:#7151fc;
		    cursor:pointer;
		}
		.btn-circle {
		    width: 20px;
		    height: 20px;
		    padding: 2px 0;
		    border-radius: 15px;
		    text-align: center;
		    font-size: 12px;
		    line-height: 1.428571429;
		}
		.btn {
		    display: inline-block;
		    margin-bottom: 0;
		    font-weight: 400;
		    white-space: nowrap;
		    vertical-align: middle;
		    touch-action: manipulation;
		    cursor: pointer;
		    user-select: none;
		    background-image: none; 
		    border: 1px solid transparent;
		}
		.btn-warning {
		    color: #fff;  
		    background-color: #7151fc; 
		    border-color: #7151fc;   
		}
		.css-cancel {
		    display: inline-block;
		    position: relative;
		    margin: 0 8px 0 7px;
		    padding: 0;
		    width: 2px;
		    height: 15px;
		    background: white;
		    transform: rotate(45deg);
		}
		.css-cancel:before { 
		    display: block;
		    content: "";
		    position: absolute;
		    top: 50%;
		    left: -6px;
		    width: 15px;
		    height: 2px;
		    margin-top: -2px;
		    background: white;
		}
