@charset "utf-8";
/* CSS Document */
		@media screen and (max-width:500px){ 
		     .noteWrap {
				   width: 80%; 
				    display: inline-block;
				    margin-left: 15%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}
        }
        @media screen and (min-width: 501px) and (max-width:1500px){
          .noteWrap {
			 		width: 80%; 
				    display: inline-block;
				    margin-left: 17%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
			}
        }
        @media screen and (min-width: 1501px){    
		      .noteWrap {
			  		width: 51%; 
				    display: inline-block;
				    margin-left: 29%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
			}
        }
        #menuWrap{ 
		    margin: 15px; 
		    padding: 5px;
		    width: 97.8%; 
		}
		
		#menuWrap .tab button {
		    background-color: white;
		    cursor: pointer; 
		    padding: 10px;
		    font-size: 17px;
		    color: #7151fc; 
		    width: 16%;
		    border-radius: 10px;
		    border: 1px solid #7151fc;   
		}
		#menuWrap .tab button:hover {
			background-color: #7151fc;
			color: white;  
		}
      
	    .formWrapper{  
			width: 95%; 
			border: 2px solid #dbdbdb; 
			margin:10px; 
			border-radius: 5px;
			padding:10px;
		}
		
        .row{
			width: 100%;
			margin: 0 auto; 
		}
		
		.topbody{
 	        width: 22%;
		    margin: 5px;
		    margin-right: 0px;
		    padding: 10px;
		    display: inline-block;
		    font-size: 14px;
        }
        #checkbox{
        	margin-left: -10px;
        }
        
		#to_id{
		    width: 100%;
		    height: 37px;
		    color: #333333;
		    margin-bottom: 5px;
		    font-size: 13px;
		    text-align: center;
		    border-radius: 5px;
	        border: 2px solid #7151fc;
		}
		
	    #content{ 
	    	width: 40%; 
		    padding: 15px;
		    height: 400px;
		    margin-bottom: 10px; 
		    border-width: 1px;
		    border-radius: 5px;
		    color: #333333;
		    font-size: 15px;
		    margin-left: 14px;
		    border: 2px solid #7151fc;
			overflow-y: auto;/* 사이드바 */ 
		}
		
		.submitBtnWrap{
			width: 100%; 
			height: 50px;
		}
		
		#submitBtn{  
			margin-left: 14px;
		    width: 90px;
		    height: 40px;
		    cursor:pointer;
		    border: 1px solid #7151fc;
		    background-color: #7151fc;
		    border-radius: 5px;
		    color: white;
		}
		
