@charset "utf-8";
/* CSS Document */ 

		@media screen and (max-width:500px){ 
			     .getWrapper {
				    border-color: #dbdbdb;
				    border-style: solid;
				    border-width: 2px;
				    color: #333333;
				    margin-left: 15%;
				    margin-top: 1%;
				    width: 80%;
				    display: inline-block; 
				    border-radius:5px;
				}    
        }
        @media screen and (min-width: 501px) and (max-width:1600px){
	          .getWrapper {
				    border-color: #dbdbdb;
				    border-style: solid;
				    border-width: 2px;
				    color: #333333;
				    margin-left: 17%;
				    margin-top: 1%;
				    width: 80%;
				    display: inline-block; 
				    border-radius:5px;
				}
				
        }
        @media screen and (min-width: 1601px){    
          .getWrapper {
			    border-color: #dbdbdb;
			    border-style: solid;
			    border-width: 2px;
			    color: #333333;
			    margin-left: 29%;
			    margin-top: 1%;
			    width: 51%;
			    border-radius:5px;
			    display: inline-block; 
			}
        }
       
	    .getKind{
			border-bottom:3px solid #7151fc;
		    color: #7151fc;
		    font-size: 18px;
			font-weight: 600; 
			padding: 15px;
			display: block;
	   		width: 94%;
	   		margin-left: 1%; 
		} 
		
	    #profileGray{
		    position: fixed; 
		    width: 100%; 
		    height: 100%; 
		    top: 0; 
		    left: 0; 
		    background-color: #000;
		    opacity: 0.6;
		    display: none;
	    }
	    
	    .topInfoWrap{
			border-style: solid;
			border-width: 1px;
			border-color: #dbdbdb;
			border-radius:5px;
			width: 97%;
			margin-left:1% ; 
			margin-right:1%;
			margin-top:1%;
			height: 60px; 
		}
    	.nickName{
    		margin-left:1% ; 
    		margin-top:5px ; 
    	}
    	
		a{   
			color:#333333; 
			text-decoration: none;
		}
			
		a:hover {   
		     color: #7151fc;
		}
		
		.rightInfo{
			float:right;
			margin-right: 1%;
		} 
		.tdData{
			color: #333333;
		}
		#hitCnt{
			color: #7151fc;
		}
		#regdate{
		 	font-size: 12px;
		 	margin-left:1% ; 
		}
		
		.userMenubar{
			    display: none; 
		        border-style: solid;
			    border-width: 1px;
			    border-color: #7151fc; 
			    width: 88px;
			    height: 53px;
			    position: fixed;
			    background-color: white;
			    margin-left: 30px;
			    border-radius: 5px;
			    position: absolute;
		}
		
		.topUserMenubar{
		    margin-left: 39px !important;
		    margin-top: -20px !important; 
		}
		
		.userMenubar ul {
		    margin: auto;
		}
		 
		.userMenubar ul li{
		    list-style: none;
		    width: 86px;
		    margin-left: -83%; 
		    margin-bottom: 3px;
		    height: 25px; 
		}
		.userMenubar ul li a{
	        text-decoration: none;
		    color: #7151fc;
		    margin-left: 3px;
		    font-size: 16px;
		}
		 
		.userMenubar ul li:hover{ 
			background-color: #7151fc;
			border-radius: 2px;     
			border:1px solid #7151fc;  
		}
		.userMenubar ul li a:hover{ 
			text-decoration: none;
			background-color: #7151fc;
		    color: white;
		}
		.memberImage{
			border-radius: 50px;
			width: 25px; 
			height: 25px;  
		}
		
		.titleWrapper{
			border-style: solid;
			border-width: 1px;
			border-color: #dbdbdb;
			border-radius:5px;
			width: 97%;
			margin-left:1% ; 
			margin-right:1%;
			margin-top:1%;
			height: 63px; 
		} 
    
		#titleNum{
			width: 50%;
			margin-left: 1%;     
			/* margin-top: 3px; */
			font-size: 13px;  
			display: inline-block;
    		float: left;
		}
		
		#title{ 
			width: 85%;
		    margin-left: 1%;
		    font-size: 27px;
		    margin-top: 20px;   
		} 
		
		.content img{
			max-width: 400px;
			height: auto;
		}
	
		.content{ 
			line-height : 27px;
			border-style: solid;
			border-width: 1px;
			border-color: #dbdbdb;
			border-radius:5px;
			/* background-color: white; 
			color: black; */  
			padding:10px;
			width: 95.2%;
			margin-left:1% ; 
			margin-right:1%;
			margin-top:1%;   
			word-break:break-all; 
			min-height: 300px;
		}
		
		.replyInformation {  
		    margin-top: 1%;
		    float: right;
		    /* width: 44%; */
		    /* margin-left: 6%; */
		    margin-right: 0.5%;
		    
		    /* margin-bottom: 1%; */
		  
		    /* display: block; */
		}
		
		.replyMenu{  
		    list-style: none;
		    display: inline-block;
		    /* float: left; */
		    margin-left: 3px;
		    font-size: 15px; 
		}
		
		.replyButton{
	        width: 52px;
		    /* margin: 0 auto; */
		    /* margin-left: 0px; */
		    border: 1px solid #7151fc;
		    background-color: white;
			color: #7151fc;
		    font-size: 12px;
		    border-radius: 5px;
		    height: 25px;
		}
		.replyButton:hover{ 
			color: white;
			border: none;
		    background-color: #7151fc;
			border: 1px solid #7151fc;
			cursor:pointer;
		}
		
		.reply_date{
		    font-size: 14px;
 		    margin-left: 10px;
	    	margin-right: 10px;
		}
		
		.contentInformation {
		    width: 81%;
		    margin-left: 17%;
		    height: 28px;
		    margin-top: 1%;
		    margin-bottom: 1%;
		}
		#contentInformation{
	        float: right;
		    height: 27px;
		    margin-top: 0px;
		}
		.contentMenu{  
		    list-style: none;
		    display: inline-block;
		    /* float: left; */
		    margin-left: 3px;
		    font-size: 18px;
		}
		.getButton{
		    width: 70px;
		    /* margin: 0 auto; */
		    /* margin-left: 0px; */
		    border: none;
		    border: 1px solid #7151fc; 
	    	background-color: white; 
			color: #7151fc;
		    font-size: 14px; 
		    border-radius: 5px;
		    height: 28px;
		}
		.getButton:hover{
			color: white;
		    background-color: #7151fc;
			border: 1px solid #7151fc;
			cursor:pointer;
		}
		
		.replyCntVal{
			border-style: solid;
			border-width: 1px;
			border-color: #e6e6e6;
			border-radius:5px;
			width: 97%;
			margin-left:1% ; 
			margin-right:1%; 
			margin-top:1%;
			height: 20px; 
			display: none; 
			color: #7151fc;
		}
		#replyCntVal{ 
			color: #333333;
			margin-left:1%; 
		}
		
		.replyPage {
		    width: 96%;
		    height: 35px;
		    margin-left: 1%;
		    margin-bottom: 10px;
		}
		
		.pagination { 
		     /* display: inline-block; */
		    padding-left: 0px;
		    margin: 3px;
		    border-radius: 4px;
		    display: 1px solid gray;
		    width: 70%;
		    margin-left: 23px;
		    height: 30px;
		}
		.pagination li {
	   		display: inline;
	   		
		}
		.pagination li a { 
		    color: #7151fc;
		    position: relative;
		    float: left;
		    padding: 5px 10px;
		    margin-left: 0px;
		    line-height: 1;
		    /* color: #337ab7; */
		    text-decoration: none;
		    border-right: 1px solid #ddd;   
		    border-bottom: 1px solid #ddd;    
		    border-top: 1px solid #ddd;   
		}
		
		.page_active a { 
			color: white !important;
			background-color: #7151fc;
		} 
		
		.pagination>li:first-child>a{
		    margin-left: 0;
		    border-top-left-radius: 4px;
		    border-bottom-left-radius: 4px;
		    border-left: 1px solid #ddd; 
		} 
		
		.pagination>li:last-child>a{
		    border-top-right-radius: 4px;
		    border-bottom-right-radius: 4px;
		} 
		
		.reply{ 
		/* border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6; */  
		width: 99%; 
		margin-left:1% ; 
		margin-right:1%; 
		margin-top:0.5%;
		margin-bottom:1%;
		/* height: 55px;  
		word-break:break-all;  */
		}
		
		
		.replyLi{
			list-style: none; 
			width: 100%;
			border-style: solid;
		    border-width: 1px;
		    border-color: #e6e6e6;   
		}
	
		.first {
	 		  margin-left: 2%;
		}
		.second {
	 		  margin-left: 4%;
		}
		.third {
	 		  margin-left: 6%;
		}
		.other {
	 		  margin-left: 8%;
		}
		.depthLine{ 
			font-size:25px;
			color: #7151fc; 
		}
		.toLine{
			font-size:16px;
			color: #7151fc; 
		}
			
		.replytextareaWrapper{
		    width: 96%;
		    display: inline-block;
		    height: 60px;
		    border: 10px solid #f3f3f3;
		}
		
		#reply_contents{
	        width: 88.2%;
		    margin-left: 0%;
		    margin-right: 1%;
		    margin-top: 0%;
		    margin-bottom: 1%;
		    padding: 10px;
		    height: 38px;
		    float: left;
		}
		
		#replyRegisterBtn{
			width: 9.2%;
		    height: 60px;
		    float: left;
		    margin-left: -8px;
		}
			
    #replyModForm{ 
      display:none;
    }  
    
    
	.bigPictureWrapper {
	  /* border-color: #e6e6e6;
	  border-style: solid; */
	  position: absolute;
	  display: none;
	  justify-content: center;
	  align-items: center;
	  top:0%;
	  width:100%;
	  height:1500px;  
	  z-index: 100;
	  /* background-color: gray;
	  background:rgba(255,255,255,0.5); */
	}
	.bigPicture { 
		/* width: 90%;     
		border-color: #e6e6e6;
	    border-style: solid; */    
	    position: fixed;
	    display: flex;
	    justify-content: center; 
	    align-items: baseline;
	    margin-top: -15%;
	}
	.bigPicture img {
  		max-width: 650px;    
		height: auto;
	}
	
	#donateBackGround{
 	    position: fixed;
	    width: 100%; 
	    height: 100%;
	    top: 0;
	    left: 0;
	    background-color: #000;
	    opacity: 0.6;
	    display: none;
	}

	#donateModal{ 
	    display: none;
	    width: 270px;
	    border-radius: 8px;
	    position: fixed;
	    top: 30%;
	    left: 40%;
	    padding: 50px;
	    background-color: white;
	}
	 
	 .mydonaText {
	        font-size: 20px;
		    color: #555;
		    font-weight: 600;
		}
		
	.donaSelect{ 
	       font-size: 35px;
		    color: #7151fc;
		    width: 53%;
	}  
	
	.donateSubmit{ 
		font-size: 20px;
	    border: none;
	    padding: 8px;
	    width: 80%;
	    margin: 0 auto;
	    margin-top: 10px;
	    display: block;
	    border-radius: 8px;
	    color: white;
	    background-color: #7151fc;
	}
	
	#realGiveCash{
		display: none;
	} 
	
	#reportBackGround{
 	    position: fixed;
	    width: 100%; 
	    height: 100%;
	    top: 0;
	    left: 0;
	    background-color: #000;
	    opacity: 0.6;
	    display: none;
	}
	
	#reportForm{ 
	    display: none;
	    width: 270px;
	    border-radius: 8px;
	    position: fixed;
	    top: 30%;
	    left: 40%;
	    padding: 50px;
	    background-color: white;
	}
	.reportText{ 
	    font-size: 20px;
	    color: #555;
	    font-weight: 600;
	}
	#reportInput{
		 font-size: 15px;
	     width: 100%;
	     color: #555;
	}
	.reportBtn{ 
		font-size: 20px;
	    border: none;
	    padding: 8px;
	    width: 80%;
	    margin: 0 auto;
	    margin-top: 10px;
	    display: block;
	    border-radius: 8px;
	    color: white;
	    background-color: #7151fc;
	}
	   
	.modal{
	display: none;
	}
	.reReplyWriteForm{ 
		display: none; 
	}
	.replyWriteForm{
	
	}
	
	
	/* #UserMenubar_board{
		    margin-top: -1%;
	} */
	
	/*  .userMenubar{
	    display: none;
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6;  
	    width: 6%; 
	    height: 55px;  
	    background-color: #323639;
	    margin-left: 1.3%; 
	    position: absolute;
	}
	.userMenubar li{ 
	    list-style: none;
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6;
	    width: 155%;  
	    margin-left: -60%; 
	}
	.userMenubar ul { 
	    border-style : solid;
	    border-width: 1px;
	    border-color: #e6e6e6;
	    margin: auto;
	} */
	
	
	.to{
	    margin-left: 11%;
	}
	
	
	.replyListWrapper{
		width: 100%;
		/* border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6; */
	}
	.replyList{ 
	    width: 97%; 
	    /* border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6; */
	    /* float: left; */
	    /* margin-inline-start: 4%; */
	    margin-left: -3.5%;
	}
	
	.replyWriteForm{  
		margin-left:1%; 
		margin-top:1%; 
		margin-bottom:5%;  
	}
	
	.fileUploadWrap{
		display: none;
	    margin-left: 1%;
    	margin-right: 1%;
	    margin-top: 0.4%;
	    margin-bottom: 1%;
	    float: right;
	    font-size: 13px;
	    width: 30%;
	    height: 18px;
	    text-align: right;
	}
	
	.fileUploadResult{ 
	    display: none;
	    float: right;
	    font-size: 13px;
	    height: 54px;
	    width: 250px;
	    text-align: left; 
	    margin-top: -3.5%;  
	    margin-right: -190px;
	}
	
	.fileUploadResult ul {
        list-style: none;
	    border-style: solid;
	    border-color: #e6e6e6;
	    /* width: 100%; */
        margin-top: 0.5%;
	    padding-left: 0px;
	    display: inline-block;
        padding: 10px;
	    border: 1px solid #7151fc;
	    background-color: white;
	    border-radius:5px;
	}
	.fileUploadResult ul li{
        cursor:pointer;  
	}
	 
	.fileUploadResult ul li:hover{
		cursor:pointer;
	    color: #7151fc;
	}
	
	.reply_contentWrapper{ 
		margin-left: 1%;
	}
	
	.reply_content{ 
    	 width: 96%;
		 word-break:break-all; 
	     margin-top: 10px;
    	 line-height: 25px;
	}
	#reReply_contents{ 
	    width: 79.3%;
	    float: left;
	    height: 38px;
	    padding: 10px;
	}
	.reReplyBtn{ 
	    width: 9%;
	    height: 60px;
	    float: left;
	    margin-left: 1px;
	}
	
	.textareaWrapper{
	    width: 98%;
	    display: inline-block;
	    border: 10px solid #f3f3f3;
	}
	
	 .modifyTextareaWrapper{ 
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e6e6e6;
	    width: 80%;
	    display: inline-block;  
    }
    
    .reply_contents{ 
		    width: 99%;   
	}
	
	.replyModFormBtnWrapper{ 
    	border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;
	    width: 10%;
	    display: inline-block;
	    position: absolute;
    }
     .replyModFormBtn{
    	width: 47%;
	    height: 53px;
	}
	.replyModForm{
		display: none; 
	}
	
