@charset "utf-8";
/* CSS Document */
	@media screen and (max-width:500px){ 
		.mycashInfoWrap { 
				   width: 80%; 
				    display: inline-block;
				    margin-left: 15%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}     
        }
        @media screen and (min-width: 501px) and (max-width:1600px){
	        .mycashInfoWrap {
				    width: 80%; 
				    display: inline-block;
				    margin-left: 17%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}
        }
        @media screen and (min-width: 1601px){    
          .mycashInfoWrap { 
		  	        width: 51%; 
				    display: inline-block;
				    margin-left: 29%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
			}
        }
 		
 		#menuWrap{ 
		    margin: 15px; 
		    padding: 5px;
		    width: 97.8%; 
		}
		
		#menuWrap .tab button {
		    background-color: white;
		    cursor: pointer; 
		    padding: 10px;
		    font-size: 17px;
		    color: #7151fc; 
		    width: 16%;
		    border-radius: 10px;
		    border: 1px solid #7151fc;   
		}
		#menuWrap .tab button:hover {
			background-color: #7151fc;
			color: white;  
		}
		
		.tabcontent {    
		    border: 2px solid #dbdbdb;
		    margin: 15px;
		    border-radius: 10px;
		    padding: 15px;
		    height: 360px;
		    width: 62%;
		}
		
		.dotContentWrap {
		    width: 80%;
		    margin: 7px;
   		}
   		
   		.dotButtonWrap{
   			width: 27%;
   		} 
	
		 .dotButtons{
		 	font-size: 17px;
		    display: inline-block;
		    padding: 8px;
		    border-radius: 8px;
		    border: none;
		    margin-top: 18px;
		    background-color: #7151fc;
		    color: white;
		    width: 200px;
		    cursor:pointer;
	    }
	    
	    #dotText{
	    	font-size: 40px;
   		 	font-weight: 600; 
   		 	color: #7151fc;
    	}
    	
    	#dotValue{
    		color: #333333;
    		font-size: 30px;
    	}
    	
	    #account{
	    	font-size: 30px;
   		 	font-weight: 600; 
   		 	color: #7151fc;
    	}
    	 
    	#accountVal{
    		color: #333333;
    		font-size: 25px;
    	}
    
    #profileGray{
	    position: fixed; 
	    width: 100%; 
	    height: 100%; 
	    top: 0; 
	    left: 0; 
	    background-color: #000;
	    opacity: 0.6;
	    display: none;
    }
	
	#chargeCash{
		display: none;   
		width: 260px;
	    border-radius: 8px;
	    position: fixed;
	    top: 25%;
	    left: 35%;
	    padding: 50px;
	    background-color: white;
    }
    
    #reChargeCash{
	    display: none;   
	    width: 260px;
	    border-radius: 8px;
	    position: fixed;
	    top: 25%;
	    left: 35%;
	    padding: 50px;
	    background-color: white;
    }
    
    .chargeWon{
	    font-size: 40px;
	     color: #7151fc; 
	     width: 53%; 
     }
    
    .Submit{  font-size: 20px;
	    border: none;
	    padding: 8px;
	    width: 80%;
	    margin: 0 auto;
	    margin-top: 10px;
	    display: block;
	    border-radius: 8px;
	    color: white;
	    background-color: #7151fc;
	    cursor:pointer; 
	 }
    
    .Cancel{    
  			font-size: 20px;
		    border: none;
		    padding: 8px;
		    width: 80%;
		    margin: 0 auto; 
		    margin-top: 10px;
		    display: block;
		    border-radius: 8px;
		    color: white;
		    background-color: #7151fc;
		    cursor:pointer;
    }
     
    .chargeText{
	    font-size: 20px;
	    color: #555;
	    font-weight: 600;
	}
    
     
    #realCommonWon{
    	display:none;
    }
    .active{
			background-color: #7151fc !important;
			color: white !important;   
		}
    
