@charset "utf-8";
/* CSS Document */
		@media screen and (max-width:500px){ 
		     .memberListWrap {
				    width: 80%; 
				    display: inline-block;
				    margin-left: 15%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}
        }
        @media screen and (min-width: 501px) and (max-width:1600px){
	          .memberListWrap {
			        width: 80%; 
				    display: inline-block;
				    margin-left: 17%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}
        }
        @media screen and (min-width: 1601px){    
	          .memberListWrap {
				    width: 51%; 
				    display: inline-block;
				    margin-left: 29%;
				    margin-top: 1%;
				    min-height: 500px; 
					display: inline-block;
					border: 2px solid #dbdbdb;
					border-radius: 10px;
				}
        }

		#menuWrap{ 
	        margin: 15px;
		    padding: 12px;
		    width: 60%; 
		    display: inline-block;
		    float: left;
		    height: 63px;
		}
		
		#menuWrap .tab button {
		        background-color: white;
			    cursor: pointer;
			    padding: 10px;
			    font-size: 17px;
			    color: #7151fc;
			    width: 28%;
			    margin-top: 0px;
			    border-radius: 10px;
			    border: 1px solid #7151fc;  
		}
		#menuWrap .tab button:hover {
			background-color: #7151fc;
			color: white;  
		}
 		
 		.infoWrap { 
			 border: 2px solid #dbdbdb;
		     margin: 15px;
		     border-radius: 10px; 
		     color: #e6e6e6;
		     width: 90%;
		     margin: 0 auto;
		     padding: 20px;
		     margin-top: 10px;
		     margin-bottom: 10px; 
        } 
        
		.memberInfoWrap {  
	        display: inline-block;
		    background-color: #eeeeee;
		    width: 22%;
		    margin-top: 20px;
		    margin-right: 16px;
		    cursor: pointer; 
		    box-sizing: border-box;
		}
		.memberInfoWrap:hover {
		    border: 1px solid #12b9ff;
		}
		
		.memberInfo {
		    display: inline-block;
		    float: left;
		    width: 70px;
		    /* margin: 20px; */
		    margin-top: 30px;
		    margin-left: 0;
		}
		
		.memberProfile {
		    display: inline-block;
		    float: left;
		    width: 60px;
		    margin: 20px;
		    /* border: 1px solid black; */
		    border-radius: 50px;
		}
		 #memberProfile {
		    width: 100%;
		    border-radius: 80px;
		    height: 60px; 
		}  
		
		span.userId {
		    color: #868686;
		    display: block;
		    margin-top: 5px;
		    /* font-weight: 600; */ 
		}
		
		span.nickName {
		    color: #131313;
		    font-size: 15px;
		    /* font-weight: 600; */
		}
		
		.searchWrapper {
   	        display: inline-block;
		    width: 30%;
		    margin-top: 14px;
		    height: 88px;
		} 
		 
		#option{ 
			width: 50%;  
			height: 30px; 
			font-weight: 500;
			font-size: 13px;
			color: #333333; 
			border-radius: 5px;
			border: 1px solid #7151fc;
		}
		#keyword{
			box-sizing: border-box;
			width: 80%;   
			height: 30px; 
			font-weight: 500;
			font-size: 20px;
			color: #333333;  
			border: 2px solid #7151fc; 
			border-radius: 5px;
			margin-top: 2px;
		}
		 
		#search{ 
			background: url(/dokky/resources/img/main_searchcon.png) 50% 50% no-repeat;
		    width: 35px;
		    height: 35px;
		    border: none;
		    float: right;
		    margin-right: 10px;
		} 
		
		
		.pull-right {
		    width: 97.7%; 
		    height: 45px;
		    margin-left: 1%;
		    margin-bottom: 10px;
		}
		
		.pagination { 
		     /* display: inline-block; */
		    padding-left: 0px;
		    margin: 7px;
		    border-radius: 4px;
		    display: 1px solid gray;
		    width: 70%;
		    margin-left: 23px;
		    height: 30px;
		}
		.pagination li {
	   		display: inline;
	   		
		}
		.pagination li a { 
		    color: #7151fc;
		    position: relative;
		    float: left;
		    padding: 7px 12px;
		    margin-left: 0px;
		    line-height: 1;
		    /* color: #337ab7; */
		    text-decoration: none;
		    border-right: 1px solid #ddd;   
		    border-bottom: 1px solid #ddd;    
		    border-top: 1px solid #ddd;   
		}
		
		.page_active a { 
			color: white !important;
			background-color: #7151fc;
		} 
		
		.pagination>li:first-child>a{
		    margin-left: 0;
		    border-top-left-radius: 4px;
		    border-bottom-left-radius: 4px;
		    border-left: 1px solid #ddd; 
		} 
		
		.pagination>li:last-child>a{
		    border-top-right-radius: 4px;
		    border-bottom-right-radius: 4px;
		}
		
		.active{
			background-color: #7151fc !important;
			color: white !important;   
		}

